filter {
  if [type] == "syslog{{ elk_cluster }}" {
    if "SUCCESS" not in [tags]{
      grok {
        match => { "message" => "%{SYSLOGTIMESTAMP:syslog_timestamp} %{SYSLOGHOST:syslog_hostname} %{DATA:syslog_program}(?:\[%{POSINT:syslog_pid}\])?: %{GREEDYDATA:syslog_message}" }
        add_field => [ "received_at", "%{@timestamp}" ]
        add_field => [ "received_from", "%{host}" ]
        remove_tag => ["_grokparsefailure"]
        add_tag => ["SUCCESS", "syslog"]
      }
    }
    if "SUCCESS" not in [tags]{
      grok {
        match => [
          "message", "%{CISCOFW106001}",
          "message", "%{CISCOFW106006_106007_106010}",
          "message", "%{CISCOFW106014}",
          "message", "%{CISCOFW106015}",
          "message", "%{CISCOFW106021}",
          "message", "%{CISCOFW106023}",
          "message", "%{CISCOFW106100}",
          "message", "%{CISCOFW110002}",
          "message", "%{CISCOFW302010}",
          "message", "%{CISCOFW302013_302014_302015_302016}",
          "message", "%{CISCOFW302020_302021}",
          "message", "%{CISCOFW305011}",
          "message", "%{CISCOFW313001_313004_313008}",
          "message", "%{CISCOFW313005}",
          "message", "%{CISCOFW402117}",
          "message", "%{CISCOFW402119}",
          "message", "%{CISCOFW419001}",
          "message", "%{CISCOFW419002}",
          "message", "%{CISCOFW500004}",
          "message", "%{CISCOFW602303_602304}",
          "message", "%{CISCOFW710001_710002_710003_710005_710006}",
          "message", "%{CISCOFW713172}",
          "message", "%{CISCOFW733100}"
        ]
        remove_tag => ["_grokparsefailure"]
        add_tag => ["SUCCESS", "networklog"]
      }
      geoip {
        source => "src_ip"
      }
    }
  }
  date {
    match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
  }
  if [syslog_program] == "sendmail" {
    mutate {
      add_tag => [ "sendmail_log" ]
    }
    grok {
      patterns_dir => "/etc/logstash/patterns/sendmail.grok"
      match => [ "syslog_message", "%{SENDMAIL}" ]
    }
    if [syslog_message] =~ /dsn=2\.([0-9]\.[0-9]), stat=/ {
      mutate {
        add_tag => ["mail_sent"]
      }
    }
    if [syslog_message] =~ /(dsn=([0-1,3-9]\.[0-9]\.[0-9]), stat=)|(dsn=(2\.[0-9]\.[1-9]), stat=)|(dsn=(2\.[1-9]\.[0-9]), stat=)/ {
      mutate {
        add_tag => ["mail_fail"]
      }
    }
  }
  if [syslog_program] =~ /MSWinEventLog/ {
    mutate {
      add_tag => ["windows_eventlog"]
    }
    if [syslog_program] =~ /Security/ {
      mutate {
        add_tag => ["security"]
      }
    }
    if [syslog_program] =~ /Application/ {
      mutate {
        add_tag => ["application"]
      }
    }
    if [syslog_program] =~ /System/ {
      mutate {
        add_tag => ["system"]
      }
    }
    if [syslog_program] =~ /PowerShell/ {
      mutate {
        add_tag => ["powershell"]
      }
    }
  }
  if [host] =~ /10\.50\.232\.[5,6]/ {
    mutate {
      add_tag => ["df_switch"]
    }
  }
  if [message] =~ /devname=AUSITFW01 devid=FGT5HD3915802558/ {
    if [message] =~ /applist="Accruent_AfterHours"/ {
      drop { }
    }
  }
  if [message] =~ /devname=AUSITFW01 devid=FGT5HD3915802558/ {
    if [message] =~ /applist="Accruent_BusinessHrs"/ {
      drop { }
    }
  }
  if [message] =~ /(Error in the RPC receive loop: RpcIn: Unable to send)/ {
    drop { }
  }
  if [syslog_program] =~ /(The Windows Filtering Platform has permitted a connection)/ {
    drop { }
  }
  if [message] =~ /apps.mainspringhealth.com/ {
    if [message] =~ /200 0 0/ {
      drop { }
    }
  }
  if [message] =~ /Next policy processing for/ {
    drop { }
  }
  if [message] =~ /Filtering Platform Connection/ {
    drop { }
  }
  if [message] =~ /Success Audit/ {
    if [message] =~ /Account Name:  svc_nocmon/ {
      drop { }
    }
    if [message] =~ /Account Name:  sitdbcloud$/ {
      drop { }
    }
    if [message] =~ /Account Name:  ldap-ro/ {
      drop { }
    }
    if [message] =~ /Logon Account:  svc_nocmon/ {
      drop { }
    }
    if [message] =~ /AUSITDC01.accruent.com     Logoff/ {
      drop { }
    }
    if [message] =~ /Account Name:  INTERNALDC1/ {
      drop { }
    }
    if [message] =~ /Account Name:  TOOLSSERVERQA/ {
      drop { }
    }
    if [message] =~ /Account Name:  UKQAAPP01/ {
      drop { }
    }
    if [message] =~ /Logon Account: ausprdmspsqlservacct/ {
      drop { }
    }
    if [message] =~ /Account Name:  SML01/ {
      drop { }
    }
    if [message] =~ /Account Name:  svc_tmsproddsc/ {
      drop { }
    }
    if [message] =~ /Account Name:  SHRQA4APP1/ {
      drop { }
    }
    if [message] =~ /Account Name:  SHQA2APP40/ {
      drop { }
    }
    if [message] =~ /Account Name:  AUSPRD-INFDC02/ {
      drop { }
    }
    if [message] =~ /Account Name:  ausprdmspsqlservacct/ {
      drop { }
    }
  }
}
