filter {

  ### gelf filter ###

  if [type] == "gelf{{ elk_cluster }}" {
    geoip {
      source => "remote_address"
    }
  }

  ### syslog filter ###

  if [type] == "syslog{{ elk_cluster }}" {
    if "SUCCESS" not in [tags]{
      grok {
        match => { "message" => "%{SYSLOGTIMESTAMP:syslog_timestamp} %{SYSLOGHOST:syslog_hostname} %{DATA:syslog_program}(?:\[%{POSINT:syslog_pid}\])?: %{GREEDYDATA:syslog_message}" }
        add_field => [ "received_at", "%{@timestamp}" ]
        add_field => [ "received_from", "%{host}" ]
        remove_tag => ["_grokparsefailure"]
        add_tag => ["SUCCESS", "syslog"]
      }
    }

    ### network gear ###

    if "SUCCESS" not in [tags]{
      grok {
        match => [
          "message", "%{CISCOFW106001}",
          "message", "%{CISCOFW106006_106007_106010}",
          "message", "%{CISCOFW106014}",
          "message", "%{CISCOFW106015}",
          "message", "%{CISCOFW106021}",
          "message", "%{CISCOFW106023}",
          "message", "%{CISCOFW106100}",
          "message", "%{CISCOFW110002}",
          "message", "%{CISCOFW302010}",
          "message", "%{CISCOFW302013_302014_302015_302016}",
          "message", "%{CISCOFW302020_302021}",
          "message", "%{CISCOFW305011}",
          "message", "%{CISCOFW313001_313004_313008}",
          "message", "%{CISCOFW313005}",
          "message", "%{CISCOFW402117}",
          "message", "%{CISCOFW402119}",
          "message", "%{CISCOFW419001}",
          "message", "%{CISCOFW419002}",
          "message", "%{CISCOFW500004}",
          "message", "%{CISCOFW602303_602304}",
          "message", "%{CISCOFW710001_710002_710003_710005_710006}",
          "message", "%{CISCOFW713172}",
          "message", "%{CISCOFW733100}"
        ]
        remove_tag => ["_grokparsefailure"]
        add_tag => ["SUCCESS", "networklog"]
      }
      if "SUCCESS" not in [tags]{
        grok {
          match => ["message", "%{CISCO_TAGGED_SYSLOG} %{GREEDYDATA:cisco_message}"]
          remove_tag => "_grokparsefailure"
          add_tag => ["SUCCESS", "networklog"]
        }
        if "_grokparsefailure" not in [tags] {
          mutate {
            rename => ["cisco_message", "message"]
            remove_field => ["timestamp"]
          }
        }
        if [ciscotag] != "ASA-7-713906" {
          grok {
            patterns_dir => "/etc/logstash/patterns"
            match => [
              "message", "%{ASA_113004}",
              "message", "%{ASA_113005}",
              "message", "%{ASA_113008}",
              "message", "%{ASA_113009}",
              "message", "%{ASA_113012}",
              "message", "%{ASA_113019}",
              "message", "%{ASA_713034}",
              "message", "%{ASA_713035}",
              "message", "%{ASA_113039}",
              "message", "%{ASA_713041_1}",
              "message", "%{ASA_713041_2}",
              "message", "%{ASA_713048}",
              "message", "%{ASA_713049}",
              "message", "%{ASA_713050}",
              "message", "%{ASA_713066}",
              "message", "%{ASA_713073}",
              "message", "%{ASA_713076}",
              "message", "%{ASA_713105}",
              "message", "%{ASA_713119}",
              "message", "%{ASA_713120}",
              "message", "%{ASA_713121}",
              "message", "%{ASA_713122}",
              "message", "%{ASA_713169}",
              "message", "%{ASA_713170}",
              "message", "%{ASA_713172}",
              "message", "%{ASA_713221}",
              "message", "%{ASA_713222}",
              "message", "%{ASA_713224}",
              "message", "%{ASA_713225}",
              "message", "%{ASA_713227}",
              "message", "%{ASA_713236}",
              "message", "%{ASA_713257}",
              "message", "%{ASA_713259}",
              "message", "%{ASA_713902_1}",
              "message", "%{ASA_713902_2}",
              "message", "%{ASA_713904_1}",
              "message", "%{ASA_713904_2}",
              "message", "%{ASA_714002}",
              "message", "%{ASA_714003}",
              "message", "%{ASA_714004}",
              "message", "%{ASA_714005}",
              "message", "%{ASA_714006}",
              "message", "%{ASA_714007}",
              "message", "%{ASA_714011_1}",
              "message", "%{ASA_714011_2}",
              "message", "%{ASA_715001_1}",
              "message", "%{ASA_715001_2}",
              "message", "%{ASA_715006}",
              "message", "%{ASA_715007}",
              "message", "%{ASA_715009}",
              "message", "%{ASA_715027}",
              "message", "%{ASA_715028}",
              "message", "%{ASA_715034}",
              "message", "%{ASA_715035}",
              "message", "%{ASA_715036}",
              "message", "%{ASA_715038}",
              "message", "%{ASA_715046_1}",
              "message", "%{ASA_715046_2}",
              "message", "%{ASA_715047_1}",
              "message", "%{ASA_715047_2}",
              "message", "%{ASA_715048}",
              "message", "%{ASA_715049_1}",
              "message", "%{ASA_715049_2}",
              "message", "%{ASA_715064}",
              "message", "%{ASA_715065}",
              "message", "%{ASA_715075}",
              "message", "%{ASA_715076}",
              "message", "%{ASA_715077}",
              "message", "%{ASA_715080}",
              "message", "%{ASA_722001}",
              "message", "%{ASA_722003}",
              "message", "%{ASA_722012}",
              "message", "%{ASA_722022}",
              "message", "%{ASA_722023}",
              "message", "%{ASA_722028}",
              "message", "%{ASA_722032}",
              "message", "%{ASA_722033}",
              "message", "%{ASA_722034}",
              "message", "%{ASA_722036}",
              "message", "%{ASA_722037}",
              "message", "%{ASA_722041}",
              "message", "%{ASA_722051}",
              "message", "%{ASA_722055}",
              "message", "%{ASA_734001}",
              "message", "%{ASA_737003}",
              "message", "%{ASA_737006}",
              "message", "%{ASA_737016}",
              "message", "%{ASA_737026}"
            ]
            tag_on_failure => [ "_no_custom_ASA_match" ]
          }
        } elseif [ciscotag] == "ASA-7-713906" {
          grok {
            patterns_dir => "/etc/logstash/patterns"
            match => ["message", "%{ASA_713906_1}", "message", "%{ASA_713906_2}"]
          }
        }
        syslog_pri { }
      }
      if "networklog" in [tags] {
        geoip {
          source => "src_ip"
          target => "geoip-src"
        }
        geoip {
          source => "dst_ip"
          target => "geoip-dst"
        }
      }
    }
  }
  date {
    match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
  }

  ### sendmail filter ###

  if [syslog_program] == "sendmail" {
    grok {
      patterns_dir => "/etc/logstash/patterns"
      match => [ "syslog_message", "%{SENDMAIL}" ]
      add_tag => [ "sendmail_log" ]
    }
    if [syslog_message] =~ /dsn=2\.([0-9]\.[0-9]), stat=/ {
      mutate {
        add_tag => ["mail_sent"]
      }
    }
    if [syslog_message] =~ /(dsn=([0-1,3-9]\.[0-9]\.[0-9]), stat=)|(dsn=(2\.[0-9]\.[1-9]), stat=)|(dsn=(2\.[1-9]\.[0-9]), stat=)/ {
      mutate {
        add_tag => ["mail_fail"]
      }
    }
    if "sendmail_log" in [tags] {
      geoip {
        source => "relay"
      }
    }
  }

  ### filebeat filter ###

#  if [tags] =~ /filebeats.+/ {
#    mutate {
#      add_tag => ["fb-grok-ssllabs"]
#    }
#    grok {
#      patterns_dir => "/etc/logstash/patterns"
#      match => { "message" => "%{CERTSCORE}" }
#      add_field => [ "cert_url", "%{certurl}" ]
#      add_field => [ "cert_grade", "%{certgrade}" ]
#      add_tag => ["fb-grok-ssllabs"]
#    }
#  }

  ### windows filter ###

  #drops#

  #if [tags] =~ /winbeats.+/ {
  #  if [event_id] == 4662 {
  #    drop { }
  #  }
  #}

  #deprecated-killsoon#

  if [syslog_program] =~ /MSWinEventLog/ {
    mutate {
      add_tag => ["windows_eventlog"]
    }
    if [syslog_program] =~ /Security/ {
      mutate {
        add_tag => ["security"]
      }
    }
    if [syslog_program] =~ /Application/ {
      mutate {
        add_tag => ["application"]
      }
    }
    if [syslog_program] =~ /System/ {
      mutate {
        add_tag => ["system"]
      }
    }
    if [syslog_program] =~ /PowerShell/ {
      mutate {
        add_tag => ["powershell"]
      }
    }
  }
  if [host] =~ /10\.50\.232\.[5,6]/ {
    mutate {
      add_tag => ["df_switch"]
    }
  }

  ### drops ###

  if [message] =~ /devname=AUSITFW01 devid=FGT5HD3915802558/ {
    if [message] =~ /applist="Accruent_AfterHours"/ {
      drop { }
    }
  }
  if [message] =~ /devname=AUSITFW01 devid=FGT5HD3915802558/ {
    if [message] =~ /applist="Accruent_BusinessHrs"/ {
      drop { }
    }
  }
  if [message] =~ /(Error in the RPC receive loop: RpcIn: Unable to send)/ {
    drop { }
  }
  if [syslog_program] =~ /(The Windows Filtering Platform has permitted a connection)/ {
    drop { }
  }
  if [message] =~ /apps.mainspringhealth.com/ {
    if [message] =~ /200 0 0/ {
      drop { }
    }
  }
  if [message] =~ /Next policy processing for/ {
    drop { }
  }
  if [message] =~ /Filtering Platform Connection/ {
    drop { }
  }
  if [message] =~ /Success Audit/ {
    if [message] =~ /Account Name:  svc_nocmon/ {
      drop { }
    }
    if [message] =~ /Account Name:  sitdbcloud$/ {
      drop { }
    }
    if [message] =~ /Account Name:  ldap-ro/ {
      drop { }
    }
    if [message] =~ /Logon Account:  svc_nocmon/ {
      drop { }
    }
    if [message] =~ /AUSITDC01.accruent.com     Logoff/ {
      drop { }
    }
    if [message] =~ /Account Name:  INTERNALDC1/ {
      drop { }
    }
    if [message] =~ /Account Name:  TOOLSSERVERQA/ {
      drop { }
    }
    if [message] =~ /Account Name:  UKQAAPP01/ {
      drop { }
    }
    if [message] =~ /Logon Account: ausprdmspsqlservacct/ {
      drop { }
    }
    if [message] =~ /Account Name:  SML01/ {
      drop { }
    }
    if [message] =~ /Account Name:  svc_tmsproddsc/ {
      drop { }
    }
    if [message] =~ /Account Name:  SHRQA4APP1/ {
      drop { }
    }
    if [message] =~ /Account Name:  SHQA2APP40/ {
      drop { }
    }
    if [message] =~ /Account Name:  AUSPRD-INFDC02/ {
      drop { }
    }
    if [message] =~ /Account Name:  ausprdmspsqlservacct/ {
      drop { }
    }
  }
}
