input {
  tcp {
    port => 9514
    type => syslog{{ elk_cluster }}
  }
  udp {
    port => 9514
    type => syslog{{ elk_cluster }}
  }
  gelf {
    port => 12201
    type => gelf{{ elk_cluster }}
  }
  beats {
    port => 9524
    tags => ["winbeats-infra-{{ elk_cluster }}"]
    id => "wbinfra"
  }
  beats {
    port => 9525
    tags => ["filebeats-infra-{{ elk_cluster }}"]
    id => "fbinfra"
  }
  beats {
    port => 9534
    tags => ["winbeats-mspring-{{ elk_cluster }}"]
    id => "wbmspring"
  }
  beats {
    port => 9535
    tags => ["filebeats-mspring-{{ elk_cluster }}"]
    id => "fbmspring"
  }
  beats {
    port => 9544
    tags => ["winbeats-360-{{ elk_cluster }}"]
    id => "wb360"
  }
  beats {
    port => 9545
    tags => ["filebeats-360-{{ elk_cluster }}"]
    id => "fb360"
  }
  beats {
    port => 9554
    tags => ["winbeats-veri-{{ elk_cluster }}"]
    id => "wbveri"
  }
  beats {
    port => 9555
    tags => ["filebeats-veri-{{ elk_cluster }}"]
    id => "fbveri"
  }
  beats {
    port => 9594
    tags => ["winbeats-dlake-{{ elk_cluster }}"]
    id => "wbdlake"
  }
  beats {
    port => 9595
    tags => ["filebeats-dlake-{{ elk_cluster }}"]
    id => "fbdlake"
  }
}