output {
  if [type] == "gelf{{ elk_cluster }}" {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "gelf_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif [syslog_program] == "sendmail" {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "mail_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "winbeats-infra-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "wbinfra_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "filebeats-infra-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "fbinfra_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "winbeats-mspring-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "wbmspring_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "filebeats-mspring-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "fbmspring_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "winbeats-360-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "wb360_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "filebeats-360-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "fb360_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "winbeats-veri-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "wbveri_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "filebeats-veri-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "fbveri_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "winbeats-dlake-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "wbdlake_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } elseif "filebeats-dlake-{{ elk_cluster }}" in [tags] {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "fbdlake_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  } else {
    elasticsearch {
      hosts => {{ elastic_lsset }}
      index => "generic_{{ elk_cluster }}-%{+YYYY.MM.dd}"
    }
  }
}