cluster.name: {{ elk_cluster }}
node.name: {{ elk_node }}
network.host: {{ ansible_default_ipv4.address }}

path.data: {{ es_datadir }}/{{ elk_node }}
path.logs: {{ es_logdir }}/{{ elk_node }}

discovery.zen.ping.unicast.hosts: {{ cluster_nodes }}
discovery.zen.minimum_master_nodes: 2
