server.port: 5601
server.host: {{ ansible_default_ipv4.address }}
server.name: "{{ kb_node }}"
elasticsearch.url: "http://{{ es_target }}:9200"

kibana.defaultAppId: "discover"

#elasticsearch.pingTimeout: 1500
#elasticsearch.requestTimeout: 30000
#elasticsearch.shardTimeout: 0
#elasticsearch.startupTimeout: 5000
#pid.file: /var/run/kibana.pid
#logging.dest: stdout
#logging.silent: false
#logging.quiet: false
#logging.verbose: false
#ops.interval: 5000
