node.name: {{ elk_node }}
http.host: {{ ansible_default_ipv4.address }}

path.config: /etc/logstash/conf.d
config.reload.automatic: true
config.reload.interval: 300s

path.data: {{ ls_datadir }}/{{ elk_node }}
path.logs: {{ ls_logdir }}/{{ elk_node }}
log.level: warn
